<h1>Tests in this example app</h1>

<ul>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "Error request", error_path %></li>
  <li><%= link_to "Query requests", users_path %></li>
</ul>
