<.flash_group flash={@flash} />

<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1>
      Phoenix + Oban test app
    </h1>

    <ul class="list-disc list-inside">
      <li><a href="/slow" class="text-blue-600 underline hover:no-underline">GET /slow</a></li>
      <li><a href="/error" class="text-blue-600 underline hover:no-underline">GET /error</a></li>
      <li><a href="/slow_job" class="text-blue-600 underline hover:no-underline">GET /slow_job</a></li>
      <li><a href="/error_job" class="text-blue-600 underline hover:no-underline">GET /error_job</a></li>
    </ul>
  </div>
</div>
