fastapi
opentelemetry-instrumentation-fastapi
uvicorn
aiopg
opentelemetry-instrumentation-aiopg
asyncpg
opentelemetry-instrumentation-asyncpg
psycopg
opentelemetry-instrumentation-psycopg
psycopg2
opentelemetry-instrumentation-psycopg2
mysql-connector-python
opentelemetry-instrumentation-mysql
mysqlclient
opentelemetry-instrumentation-mysqlclient
pymysql
opentelemetry-instrumentation-pymysql
opentelemetry-instrumentation-sqlite3
