<h1>Redis queries</h1>

<p>Click on any of the links below perform a Redis query that will be instrumented.</p>

<ul>
  <li><%= link_to "Redis get, set and del(ete)", restful_redis_path %></li>
  <li><%= link_to "Redis eval", eval_redis_path %></li>
</ul>
