html
  head
    title Posts
  body
    h1 Posts

    each post in posts
      section
        h2= post.title
        p= post.text
    else
      p No posts

    p
      a(href='/new') New post
    p
      a(href='/error') Trigger an error
