<h1>Examples</h1>

<ul>
  <li><%= link_to "Error", error_path %></li>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "ActiveJob ErrorJob", active_job_error_job_path %></li>
  <li><%= link_to "ActiveJob PerformanceJob", active_job_performance_job_path %></li>
</ul>
