<h1>Tests in this example app</h1>

<ul>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "Request with error", error_path %></li>
  <li><%= link_to "Delayed Job jobs", jobs_path %></li>
  <li><%= link_to "Posts", posts_path %></li>
</ul>
