{% extends 'base.html.twig' %}

{% block title %}Symfony app{% endblock %}

{% block body %}
<h1>Slow Route</h1>
  <p>This route took 3 seconds to respond. Check AppSignal for performance monitoring data.</p>

  <div class="links">
    <h2>Links</h2>
    <ul>
      <li><a href="/">Back</a></li>
    </ul>
  </div>
{% endblock %}
