@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.light .bar {
  display: inline-block;
  height: 20px;
  background-color: yellow;
}
