<h1>Tests in this example app</h1>

<ul>
  <li><%= link_to "Sidekiq workers", workers_path %></li>
  <li><%= link_to "Redis queries", redis_path %></li>
  <li><%= link_to "Excon requests", requests_path %></li>
</ul>
