// For create-react-app, env variables must start with REACT_APP_
// Make sure to use the frontend key, under App Settings -> Push & Deploy -> Front-end error monitoring
REACT_APP_APPSIGNAL_FRONTEND_KEY=example
